.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 680px;
    margin: auto;
}
#tagline {
    margin-left: 75px;
}

.carousel-caption {
    color: black;
}

.carousel .slide {
    background: #2d2d30;
    color: #bdbdbd;
}
/*
#quickies {
    background-image: url("");
}*/

.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {
    color: #fff;
}
.bg-1 p {
    font-style: italic;
}
.thumbnail p, .thumbnail h3, .thumbnail h5{
    color: #000;
}
