.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 680px;
    margin: auto;
}

#fixed-header{
    padding-top: 20px;
    padding-bottom: 10px;
    background: transparent;
}

.not-fixed {
    background: transparent;
}

.fixed {
    top:0;
    left:0;
    position:fixed;
    background: #090926;
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
}

#tagline {
    margin-left: 75px;
}

.carousel-caption {
    color: black;
}

.carousel .slide {
    background: #2d2d30;
    color: #bdbdbd;
}

.name {
    padding: 0%;
    margin-top: -10%;
}

.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {
    color: #fff;
}
.bg-1 p {
    font-style: italic;
}
.thumbnail p, .thumbnail h3, .thumbnail h5{
    color: #000;
}

.network-name {
    padding-right: 10px;
}
