.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 680px;
    margin: auto;
}

.carousel-caption {
    color: black;
}

.navbar-default .navbar-brand {
    font-size: 28px;
    font-weight: bold;
    color: #122b40;
}

.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    font-size: 15px;
    color: #122b40;
}

.navbar-default {
    background-color: #D9D9D9;
    opacity: 0.6;
    border-color: transparent;
}

.container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

body {
    background-image: url('../images/bg.png');
    background-repeat: repeat;
}

.myCard {
    padding: 10px 10px 10px 10px;
    color: #000;
    opacity: 0.8;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
}

#about {
    color: #337ab7;
}

#tech {
    border-right: 1px solid #CDCACA;
    border-left: 1px solid #CDCACA;
}

#resume {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #CDCACA;
}

#contactme {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #CDCACA;
}

#travel {
    margin-top: 20px;
    border-right: 1px solid #CDCACA;
    border-left: 1px solid #CDCACA;
}

hr {
    height: 1px;
}

#hobbies p{
    font-size: 16px;
}

#academics {
    font-size: 16px;
}

.wrapper {
    margin: 10px 10% 10px 10%;
    background-color: #83d3c9;
}

.acadBox {
    color: #fff;
    margin-left: 10%;
    margin-right: 5%;
}

#panelButtons a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    display: inline;
    width: 145px;
    height: 45px;
    background: #628984;
    padding: 10px;
    text-align: center;
    color: white;
    border: 1px solid white;
    font-weight: bold;
}


#projectContentButton {
    margin-left: 30%;
    margin-right: 3%;
    margin-top: 15px;
    margin-bottom: 5%;
}

#courseContentButton {
    margin-right: 25%;
    margin-top: 15px;
    margin-bottom: 5%;
}

#acadSummary li{
    padding-bottom: 5px;
}

#acadSummary {
    margin-top: 20px;
}

#hiddenPanel {
    margin-left: 5%;
    margin-right: 11%;
    background-color: #EEE;
}

.projectHeading, .courseHeading {
    color: #83d3c9;
    font-weight: bold;
    margin-bottom: 5px;
}

.projectPoints, .coursePoints {
    color: #7c8081;
}

#projectContent, #courseContent{
    display: none;
}

#courseContent {
    padding-bottom: 45px;
}

#title-right {
    float: right;
}